{% extends "layouts/base.njk" %}
{% block content %}
    <section class="index-hero">
        <div class="index-content">
            <h1 id="welcome-heading">Welcome to Kainos Careers</h1>

            <div class="index-actions">
                <a href="/job-roles">Explore current opportunities</a>
            </div>
        </div>
    </section>
{% endblock %}