<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Job Roles</title>
	</head>
	<body>
		<h1>Job Roles</h1>
		{% if jobRoles and jobRoles.length > 0 %}
			<table>
				<thead>
					<tr>
						<th scope="col">Role</th>
						<th scope="col">Location</th>
						<th scope="col">Capability</th>
						<th scope="col">Band</th>
						<th scope="col">Closing Date</th>
					</tr>
				</thead>
				<tbody>
					{% for role in jobRoles %}
						<tr>
							<td><a href="/job-roles/{{ role.jobRoleId }}">{{ role.roleName }}</a></td>
							<td>{{ role.location }}</td>
							<td>{{ role.capability }}</td>
							<td>{{ role.band }}</td>
							<td>{{ role.closingDate }}</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
		{% else %}
			<p>No job roles are currently available.</p>
		{% endif %}
	</body>
</html>
